@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(135deg, #0A0A0A 0%, #1A1A1A 50%, #2A2A2A 100%);
    color: #FFFFFF;
}
img{
    width: 100%;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;
}
a{
    color: #E0E0E0;
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    padding: 25px 0;
}
.header .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-list{
    display: flex; 
    gap: 30px;
    color: #E0E0E0;
}
.header-list li{
    transition: all 0.3s;
}
.header-list li:hover{
    opacity: 0.8;
    transform: scale(1.1) translateY(-2px);
}
.header-logo{
    width: 64px;
}
.presentation{
    margin-top: 20px;
    background-image: url('../assets/_.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    width: 100%;
    height: 600px;
    position: relative;
}
.presentation::before{
    content: 'Носи как проклятие. Свыкнись.';
    color: #F5F5F5;
    position: absolute;
    top: 100px;
    left: 50px;
    max-width: 350px;
    font-size: 40px;
    font-weight: 600;
}
.presentation::after{
    content: 'Ты уже мёртв для компромиссов.';
    color: #B0B0B0;
    position: absolute;
    top: 250px;
    left: 50px;
    max-width: 300px;
    font-size: 15px;
    font-weight: 400;
}

.item b{
    color:#5fa36a
}
main{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item{
    width: 30%;
    overflow: hidden;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    position: relative;
    margin-bottom: 50px;
}
.item img{
    transition: all 0.3s;
}
.item img:hover{
    transform: scale(1.03);
}
.item:first-child{
    margin-top: 30px;
}
.item + .item{
    margin-top: 30px;   
}
.item h2{
    color: #202020e1;
}
.item-price{
    padding: 20px 0;
}
.item-plus{
    bottom: 10px;
    right: 13px;
    position: absolute;
    background: #6a0404e1;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    cursor: pointer;
}
.item-plus:hover{
    transform: scale(1.05) translateY(-2px);
}
.Categories{
    display: flex;
    cursor: pointer;
    gap: 30px;
    font-size: 20px;
}
.category{
    background: #363636;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: all 0.3s;
}
.category:hover{
    transform: translateY(-2px);
    border-color: #767676;
}
.pagination{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}
.page-item{
    border: 1px solid #767676;
    border-radius: 3px;
    padding: 10px;
    transition: all 0.3s;
}
.page-item:hover{
    transform: scale(1.1) translateY(-2px);
}

.page-item.active{
    border-color:#B22222 ;
}
.basket{
    transition: all 0.3s;
}
.basket:hover{
    color: #B22222;
    transform: scale(1.5) translateY(-3px);
}
.basket.active{
    color: #B22222;
    transform: scale(1.5);
}
.shop-cart{
    position: absolute;
    width: 300px;
    min-height: 100px;
    border-radius: 5px;
    background-color: thistle;
    top: 10vh;
    right: 10vw;
    z-index: 1000;
}
.delete-icon{
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 10px;
    color: #0A0A0A;
}
.delete-icon:hover{
    color: #B22222;
    transform: scale(1.5) translateY(-3px);
}
.shop-cart .item{
    width: 100%;
    margin-bottom: 20px;
    max-height: 200px;
}
.shop-cart .item img{
    width: 70px;
    float: left;
}
.shop-cart .item h2{
    font-size: 20px;
    margin-bottom: 10px;
}
.shop-cart .item b{
    font-weight: 600;
    margin-bottom: 20px;
}
.summa{
    padding-left: 10px;
    color: #0A0A0A;
    font-weight: 600;
}